<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="<%=blog.title %>"/>
    <link rel="icon" href="https://res.cloudinary.com/dodie1q2w/image/upload/v1694766823/7173014341636956259_sc3avx.svg">
    <link href="/css/cart.css" rel="stylesheet" type="text/css">
    <link href="/css/mediaquery.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    
</head>
<body>
   
    <%- include('partials/navbar')%>


    <div class="wrapper" >
      <div class="container">
        <div class="row justify-content-center">
          <div class=" text-center">
              
              <% if (blog) { %>
                <h1 class="mt-3 mb-3"><%= blog.title %></h1>
              <img src=<%= blog.mainImage %> class="card-img-top" alt="<%= blog.title %>" style="width:60%; ">
          
              <div class="card-body mt-3" >

                <p class="card-text"><%= blog.mainContent %></p>
              </div>


              <%if(blog.images.length > 0){ %>
                <div id="carouselExample" class="carousel slide mt-3">
                   
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                  
                        <img src="<%= blog.images[0] %>" class="d-block w-100" alt="Fashion Image">
                   
                      </div>
                      <% for (let i = 1; i < blog.images.length; i++) { %>
                        
                        <div class="carousel-item">
                          <img src="<%= blog.images[i] %>" class="d-block w-100" alt="Fashion Image">
                        </div>
                      <% } %>

                      <%if(blog.videos.length > 0){%>
                        <div class="carousel-item">
                        <video class="d-block w-100" controls autoplay muted loop="true">
                            <source src="<%= blog.videos[i] %>" type="video/mp4">
                            Your browser does not support the video tag.
                          </video>
                          </div>
                      <%} %>
                     
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                  </div>


                <%}%>

                <%if(blog.secondContent){%>
                    <p class="card-text mt-3 mb-3"> <%= blog.secondContent %></p>

                <%} %>

                <%if(blog.links){ %>
                  <ul class="list-group">
                  <% for(i=0; i < blog.links.length; i++){%>
                      <li class='list-group-item'><a class="mb-3" href="<%= blog.links[i][1] %>"><%= blog.links[i][0]%></a></li> 

                    <%}%>
                  </ul>

                  <%}%>
       

        
            <% } %>
          </div>
        </div>
  


          <!--successfully added to cart modal-->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
      
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
           <h2 class="text-success">Successfully Added To Cart!</h2>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
          </div>
        </div>
      </div>
    </div>

       
      <!-- cart modal-->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      
        <div class="modal-header">
       
            <div class="modal-body">
  
     <button class="btn text-danger" id="close-cart" data-bs-dismiss="modal"> Close X</button>
  <div class="cart-container">
  <div class="row gx-5 products text-center">
    <div class="col-12">
      <div class="cart-products">
        <% if (cart) { %>
          <% for (let i = 0; i < cart.length; i++) { %>
            <div class="card item-in-cart" id="<%= cart[i].product._id %>">
              <img src='<%= cart[i].product.mainImage %>' class="card-img-top cart-img" style="width: 50%;" alt='..' />
              <div class="card-body">
                <h5 class="card-title"><%= cart[i].product.productName %> </h5>
                <p class="card-text">Option: <%= cart[i].option %></p>
                <p class="card-text">Category: <%= cart[i].product.category %></p>
                <p class="card-text">Price: $<%= cart[i].product.price %></p>
                <!-- Remove the data-dismiss attribute from the button -->
                <button type="button" class="btn btn-danger cart-remove-btn">Remove</button>
              </div>
            </div>
          <% } } else { %> 
            <h3>No Items Added Yet</h3>
          <% } %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  <button class="btn cardBtn btn-success check-out-cart">Check Out</button>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>






        </div><!-- end container div-->
        <div class="push" style="height: 200px;"></div>
      </div>
      </div>


     <%- include('partials/footer')%>

         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src ="/about-us.js"></script>
</body>
</html>